html {
    background: #F8F8F8;
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
}
a {
    color: #0654BA !important;
    text-decoration: none;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

.logo {
    text-align: center;
}

.tab-container {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-top: 20px;
}

.tabs {
    width: 100%;
    height: 45px;
}
.tab-shade {
    position: relative;
    width: 1%;
    background-color: #D7D7D7;
    border: 1px solid #D7D7D7;
    height: 38px;
    margin: 5px 0px 0px;
    display: inline-block;
    left: -1.7%;
}
.tab-left {
    background: #EEE;
    width: 49%;
    height: 100%;
    float: left;
    border: 1px solid #D6D6D6;
    border-radius: 3px 0px 0px 3px;
    border-style: none solid solid none;
}
.tab-right {
    width: 49%;
    height: 100%;
    float: right;
}
.tab-title {
    margin: 12px 0 0 17%;
}

.tab-title > * {
    vertical-align: middle;
}
.clear-both {
    clear: both;
}

.form-container {
    margin: 20px 14px;
}
.input {
    margin: 0px 0px 10px;
    padding: 0.5em;
    color: #333;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.06) inset;
}
.input-wide {
    width: 95%;
}
.input-half {
    width: 43%;
}
.input-half-right {
    float: right;
}
.btn {
    margin: 20px 0;
    width: 100%;
    height: 40px;
    background: transparent linear-gradient(to bottom , #0079BC, #00509D) repeat scroll 0% 0%;
    color: #FFF;
    padding: 0.5em 1.2em;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.04);
    vertical-align: baseline;
}

.agreement {
    margin: 10px;
    font-size: 12px;
}

.biz {
    border: 1px solid #CCC;
    border-style: solid none none none;
    padding-top: 20px;
}

.biz h1 {
    font-size: 16px;
}
.biz p {
    margin: 0;
    font-size: 14px;
}

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 50%;
    max-width: 560px;
    min-width: 290px;
    background: #fff;
    padding: 4em;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

/* Content */
.dialog h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 2em;
    margin: 0;
}



.dialog--open .dialog__overlay {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.dialog--close .dialog__overlay {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.dialog__content {
    padding: 0;
    background: transparent;
}

.dialog.dialog--open .dialog__content {
    opacity: 1;
}

.morph-shape {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
}

.morph-shape svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 1680;
}

.dialog--open .morph-shape svg rect {
    -webkit-animation: anim-dash 0.6s forwards;
    animation: anim-dash 0.6s forwards;
}

.dialog-inner {
    opacity: 0;
    background: #fff;
}

.dialog--open .dialog-inner {
    padding: 2em;
    opacity: 1;
    -webkit-transition: opacity 0.85s 0.35s;
    transition: opacity 0.85s 0.35s;
}

.dialog.dialog--open h2 {
    -webkit-animation: anim-elem-1 0.7s ease-out both;
    animation: anim-elem-1 0.7s ease-out both;
}

.dialog.dialog--open button {
    -webkit-animation: anim-elem-2 0.7s ease-out both;
    animation: anim-elem-2 0.7s ease-out both;
}

@keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}