<form action="/login" method="post">
	<div><input style="cursor: auto;" name="username" type="text"></div>
	<div><input style="cursor: auto;" name="password" type="password"></div>
	<div><input type="submit"></div>
</form>